.my-menu {
  position: absolute;
  right: 0;
  font-size: 93%;
  .my-menu-list {
    padding-top: 12px;
    li {
        float: left;
        margin-right: 0;
        text-align: center;
        width: 65px;
        margin: 2px 0;
      a {
        img {
            opacity: 0.9;
            vertical-align: top;
        }
        span {
          color: #330000;
          font-size: 79%;
          display: block;
          margin-top: 3px;
        }
      }
    }
    &__news {
      position: relative;
      .date {
        font-size: 86%;
        position: absolute;
        top: 9px;
        left: 0;
        color: #977847;
        display: block;
        font-weight: bold;
        text-align: center;
        width: 100%;
      }
    }
    .my-menu-list__post-btn {
      margin-left: 10px;
      width: 130px;
      span {
        border-radius: 4px;
        font-weight: bold;
        font-size: 100%;
        margin: 0 0 7px 0;
        height: 32px;
        line-height: 34px;
        text-shadow: 0 -1px 0 #6e8129;
        background: linear-gradient(to bottom, #aec853, #8fa836);
        color: #ffffff;
        img {
          margin-top: -3px;
          vertical-align: middle;
        }
      }
    }
  }
}
