.recipe-box {
  border-top: 6px solid $DeepGreen;
  height: 1600px;
  .recipe-box__title {
    background: url(/images/title_icon_recipe.png)15px 2px no-repeat;
    color: $DeepGreen;
    padding-bottom: 5px;
    margin: 10px 0;
    position: relative;
    font-size: 158%;
    border-bottom: 1px solid #e8e2d6;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 50px;
    padding-bottom: 8px;
  }
  @import "ranking";
  @import "honor-recipe";
  @import "category";
  @import "select-recipe";
  @import "trend-kitchen";
}
