.contents
  .contents-main
    .contents-main__feature-box
    .contents-main__recipe-box
    .contents-main__kondate-box
    .contents-main__news-box
    .contents-main__lesson-box
    .contents-main__device-box
  .contents-side
    .contents-side__ad
