.footer
  .container
    .footer-upper
      .footer-upper__background
    .footer-middle
      .middle__grid-1
      .middle__grid-2
      .middle__grid-3
      .middle__grid-4
      .middle__grid-5

    .footer-lower
      .lower
        .lower-suppor
          .lower-support__title サポート
          %ul.lower-support__link
            %li
              %a{:href => "/"} ヘルプ
            %li
              %a{:href => "/"} 機種変更ガイド
            %li
              %a{:href => "/"} 料理を楽しむに当たって
            %li
              %a{:href => "/"} 利用規約
            %li
              %a{:href => "/"} リンクについて
        .lower-notice
          .lower-notice__title お知らせ
          %ul.lower-notice__link
            %li
              %span.date 17/02/22
              %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドのブロッコリーレシピを紹介！
            %li
              %span.date 17/02/15
              %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドのセロリレシピを紹介！
            %li
              %span.date 17/02/08
              %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドの白菜レシピを紹介！
            %li
              %span.date 17/02/01
              %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドの恵方巻きレシピを紹介！
            %li
              %span.date 17/01/25
              %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドのサバレシピを紹介！
          %span
            %a.more-company-link{:href => "/"} もっと見る
        .lower-company
          .lower-company__title 企業情報
          %ul.lower-company__link
            %li
              %a{:href => "/"} 運営会社
            %li
              %a{:href => "/"} 情報セキュリティ基本方針
            %li
              %a{:href => "/"} 個人情報保護方針
            %li
              %a{:href => "/"} 投資家向け情報
            %li
              %a{:href => "/"} 研究者向け情報
            %li
              %a{:href => "/"} 広告掲載
            %li
              %a{:href => "/"} 採用情報
        .lower-most
          .lower-most__copyright Copyright© Cookpad Inc. All Rights Reserved
          %ul.lower-most__country
            %li
              %span 日本
            %li
              %a{:href => "/"}Español
            %li
              %a{:href => "/"}English
            %li
              %a{:href => "/"}Indonesia
            %li
              %a{:href => "/"}العربية
            %li
              %a{:href => "/"}Việt Nam
            %li
              %a{:href => "/"}ไทย
            %li
              %a.more-country{:href => "/"}...
      .lower-form
