.footer
  .container
    .footer-upper
      .footer-upper__background
    .footer-middle
      .middle__grid-1
      .middle__grid-2
      .middle__grid-3
      .middle__grid-4
      .middle__grid-5
    .footer-lower
      .lower
        .lower-support
          .lower-support__title
          .lower-support__link
        .lower-notice
          .lower-notice__title
          .lower-notice__link
        .lower-company
          .lower-company__title
          .lower-company__link
        .lower-most
          .lower-most__copyright Copyright© Cookpad Inc. All Rights Reserved

          %ul.lower-most__country
            %li
              %span 日本
            %li
              %a{:href => "/"}Español
            %li
              %a{:href => "/"}English
            %li
              %a{:href => "/"}Indonesia
            %li
              %a{:href => "/"}العربية
            %li
              %a{:href => "/"}Việt Nam
            %li
              %a{:href => "/"}ไทย
            %li
              %a.more-country{:href => "/"}...
      .lower-form
