.footer
  .container
    .footer-upper
      .footer-upper__background
    .footer-middle
      .middle__grid-1
      .middle__grid-2
      .middle__grid-3
      .middle__grid-4
      .middle__grid-5
    .footer-lower
      .lower
        .lower-support

        .lower-notice

        .lower-company

        .lower-most
          .lower-most__copyright Copyright© Cookpad Inc. All Rights Reserved

          .loser-most__country
      .lower-form
