.global-header
  .container
    %ul.service-menu
      %li.service-menu__index
        %a{:href => "/"}サービス一覧
      %li.service-menu__link
        %a{:href => "/"} 料理の味が決まる！黄金比レシピ
    %ul.global-menu
      %li.global-menu__ps-link
        %a{:href => "/"}プレミアムサービス
      %li.global-menu__new-register-link
        %a{:href => "/"}ユーザー登録(無料)
      %li.global-menu__login-link
        %a{:href => "/"}ログイン
