.header
  .logo
    .logo__cookpad
    .logo__recipe
      .logo__recipe__body
      .logo__recipe__count
  .header-search
    .header-searchform
      .header-search-form__category
      .header-search-form__cross
      .header-search-form__purpose
      .header-search-form__submit-btn
    .header-search__keyword-list
      .header-search__keyword-list
        .header-search__keyword-list--trend
        .header-search__keyword-list--trend
        .header-search__keyword-list--trend
        .header-search__keyword-list--trend
        .header-search__keyword-list--trend
      .header-search__keyword-list--more
  .header-my-menu
    .header-my-menu__folder
    .header-my-menu__news
    .header-my-menu__post-btn
