.recipe-box
  .recipe-box__title
  .ranking
    .ranking-box
      .ranking-box__title
      .ranking-box__list
    .trend-recipe-box
      .trend-recipe-box__title
      .trend-recipe-box__list
  .honor-recipe
    .honor-recipe_text
    .honor-recipe_image
  .category
    .category__title
    .category__top
    .category__list
    .category__more
  .select-recipe
    .select-recipe__box
      .select-recipe__title
      .select-recipe__list
    .pro-recipe-box
      .pro-recipe__title
      .pro-recipe__list
  .trend-kitchen
    .trend-kitchen__title
    .trend-kitchen__image-list
    .trend-kitchen__list
