.wrapper
  .header
    .header-upper
      .header-upper__service-menu
        .header-upper__service-menu--index
        .header-upper__service-menu--link
      .header-upper__global-menu
        .header-upper__global-menu--ps-link
        .header-upper__global-menu--new-register-link
        .header-upper__global-menu--login-link
    .header-lower
      .header-lower
        .header-lower__logo
        .header-lower__search
        .header-lower__my-menu
  .contents
    .contents-main
      .contents-main__feature-box
      .contents-main__recipe-box
      .contents-main__kondate-box
      .contents-main__news-box
      .contents-main__lesson-box
      .contents-main__device-box
    .contents-side
      .contents-side__ad
  .footer
    .footer-upper
      .footer-upper__background
    .footer-middle
      .footer-middle__grid-1
      .footer-middle__grid-2
      .footer-middle__grid-3
      .footer-middle__grid-4
      .footer-middle__grid-5
    .footer-lower
      .footer-lower
        .footer-lower__support
        .footer-lower__notice
        .footer-lower__company
        .footer-lower__copyright
      .footer-lower__form
