.category
  .category__title
    レシピカテゴリ
  .category__top
    .left-container
      .left-inner
        %a{:href => "/"}
          .left-container__image
            = image_tag ("https://img.cpcdn.com/search_categories/212/80x80c/03faeb82d7fd6bf1c8d0535bbebfb4d6.jpg?p=1215723894")
          .left-container__recipe
            .left-container__recipe-title
              まるでケーキ♫デコレーション寿司
            .left-container__recipe-body
              ひなまつりパーティにぴったりの華やかなお寿司
    .right-container
      .right-inner
        %a{:href => "/"}
          .right-container__image
            = image_tag ("https://img.cpcdn.com/search_categories/135/80x80c/d9cea8f157f7936a6f7de101e6fca231.jpg?p=1215717953")
          .right-container__recipe
            .right-container__recipe-title
              だしが決め手！お吸い物レシピ
            .right-container__recipe-body
              ハマグリのお吸い物はひなまつりの定番。お吸い物の作り方はこちらで確認。
  .category__list
  .category__more
