.footer {

  .container {


    .footer-lower {
      @extend .clearfix:after;

      .lower-content {
        border-top: 1px solid #e8e2d6;
        width: 640px;
        padding-top: 20px;
        float: left;

        .content-support {

        }
        .content-notice {
          border-bottom: 0;
          margin-bottom: 10px;
          padding-bottom: 10px;
          .more-company__link {
            font-size: 86%;
            text-align: right;
            clear: both;
          }
        }
        .content-company {
        }

        .content__title {
          width: 80px;
          font-size: 93%;
          font-weight: bold;
          display: block;
          float: left;
          color: #4d2200;
        }

        .content__list {
          font-size: 86%;
          float: left;
          width: 550px;
          margin-bottom: 5px;
          li {
            display: block;
            padding-right: 5px;
            float: left;
          }
        }

        .lower-most {
          @extend .clearfix:after;
          padding: 20px 0;
          margin: 0;
          font-size: 86%;
          color: #4d2200;
          .lower-most__copyright {
            float: left;
            padding: 5px 0;
          }
          .lower-most__country-list {
            float: right;
            li {
              float: left;
              padding: 5px 3px;
              a {
                text-decoration: underline;
                color: #755353;
              }
              a.more-country {
                display: inline-block;
                background: #ede7da;
                border-radius: 3px;
                padding: 2px 5px;
              }
            }
          }
        }
      }
      .lower-form {
        #form-help {
          .form-help {
            .&__label {}
            .&__btn {}
          }
        }
        #form-opinion {
          .form-opinion {
            .&__label {}
            .&__textarea {}
            .&__btn {}
          }
        }
      }
    }
  }
}
