html {
  height: 100%;
  background: #F7F3E8;
}
body {
  height: 100%;
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif;
  line-height: 1.5;
  background: #F7F3E8;
  color: #3C3C3C;
  font-size: 87.5%;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.wrapper {
  height: 100%;
  margin-top: 34px;
  min-width: 970px;
  overflow: hidden;
  position: relative;
}

.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  width: 970px;
}

a {
  text-decoration: none;
}

a:visited {
    color: #845f4b;
}

a:hover {
  text-decoration: underline;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

input[type="text"]{
  padding: 3px 5px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  box-shadow: inset 1px 1px 4px #e6e6e6;
}
