$Orange: #ff9933;
$DeepGreen: #889b00;
$LightGray: #999999;
$DarkBrown: #330000;
$Brown: #e3dcca;
$LightBrown: #e8e2d6;
$Gray: #666666;
$EarthColor: #ded5c0;
$LightBlack: #3c3c3c;
$Bordeaux: #663333;
$Chocolate: #845f4b;
$White: #ffffff;
$DarkGray: #4c4c4c;
$FeatherGray: #E5E5E5;
$YellowOrange: #E0D7C1;
$YellowGray: #d6d2b7;
$YellowWhite: #f3eecf;
$Cream: #faf3e3;
