.footer-lower
  .lower-content
    .content-support
      .content__title サポート
      %ul.content__list
        %li
          %a{:href => "/"} ヘルプ
        %li
          %a{:href => "/"} 機種変更ガイド
        %li
          %a{:href => "/"} 料理を楽しむに当たって
        %li
          %a{:href => "/"} 利用規約
        %li
          %a{:href => "/"} リンクについて
    .content-notice
      .content__title お知らせ
      %ul.content__list
        %li
          %span.date 17/02/22
          %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドのブロッコリーレシピを紹介！
        %li
          %span.date 17/02/15
          %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドのセロリレシピを紹介！
        %li
          %span.date 17/02/08
          %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドの白菜レシピを紹介！
        %li
          %span.date 17/02/01
          %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドの恵方巻きレシピを紹介！
        %li
          %span.date 17/01/25
          %a{:href => "/"} フジテレビ「ノンストップ！」でクックパッドのサバレシピを紹介！
      .more-company__link
        %a{:href => "/"} もっと見る
    .content-company
      .content__title 企業情報
      %ul.content__list
        %li
          %a{:href => "/"} 運営会社
        %li
          %a{:href => "/"} 情報セキュリティ基本方針
        %li
          %a{:href => "/"} 個人情報保護方針
        %li
          %a{:href => "/"} 投資家向け情報
        %li
          %a{:href => "/"} 研究者向け情報
        %li
          %a{:href => "/"} 広告掲載
        %li
          %a{:href => "/"} 採用情報
    .lower-most
      .lower-most__copyright Copyright© Cookpad Inc. All Rights Reserved
      %ul.lower-most__country-list
        %li
          %span 日本
        %li
          %a{:href => "/"}Español
        %li
          %a{:href => "/"}English
        %li
          %a{:href => "/"}Indonesia
        %li
          %a{:href => "/"}العربية
        %li
          %a{:href => "/"}Việt Nam
        %li
          %a{:href => "/"}ไทย
        %li
          %a.more-country{:href => "/"}...
  .lower-form
    #form-help
      .form-help
        %p.form-help__label お困りの方はこちら
        %p.form-help__btn
          %a{:href => "/"}
            ヘルプ・お問い合わせ
            = image_tag("https://assets.cpcdn.com/assets/sara/icon_arrow_right.png?614ff9e941aca5a633d5c7826e110bf261824a138e4bdf9a627e8892e05f5674")
    #form-opinion
      .form-opinion
        .form-opinion__label クックパッドへのご意見をお聞かせください
        %textarea.form-opinion__textarea
        .form-opinion__btn クックパッドに意見を送る
