.title_bar {
  font-size: 100%;
  font-weight: bold;
  background: #f8f6f0;
  clear: both;
  color: #3c3c3c;
  padding: 5px 3px 3px 12px;
  margin: 0;
  position: relative;
  text-decoration: underline;
}
