.wrapper {
  height: 100%;
  margin-top: 34px;
  min-width: 970px;
  position: relative;
}

.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  width: 970px;
}

.box {
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #ded5c0;
  margin-bottom: 10px;
}
