.button, .submit_button {
  padding: 8px 10px;
  margin: 10px 0;
  border: 1px solid $StoneGray;
  background: $SnowGray;
  background: $White;
  background: -moz-linear-gradient(top, $White, $SnowGray);
  background: -webkit-gradient(linear, left top, left bottom, from($White), to($SnowGray));
  background: linear-gradient(to bottom, $White, $SnowGray);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  min-width: 160px;
  color: $LightBlack;
  text-align: center;
  vertical-align: middle;
  text-decoration: none !important;
  text-shadow: 0 1px 0 $White;
  cursor: pointer;
  -webkit-appearance: none;
}

.button:hover {
    border: 1px solid #c4c4c4;
    background: -moz-linear-gradient(top, #f7f7f7, #e4e4e4);
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e4e4e4));
    background: linear-gradient(to bottom, #f7f7f7, #e4e4e4);
}

.attention {
  text-shadow: 0 -1px 0 #bd4b00;
  border: 1px solid #cc5200;
  background: #f06000;
  background: #ff8a24;
  background: -moz-linear-gradient(top, #ff8a24, #f06000);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8a24), to(#f06000));
  background: linear-gradient(to bottom, #ff8a24, #f06000);
  color: $White !important;
}
