.footer-middle
  .middle-1
    %h4.title レシピをさがす
    %ul
      %li
        %a{:href => "/"} カテゴリ一覧
      %li
        %a{:href => "/"} 専門家が選んだ目的別レシピ
      %li
        %a{:href => "/"} プロのレシピ
      %li
        %a{:href => "/"} 話題のレシピ
      %li
        %a{:href => "/"} 殿堂入りレシピ
      %li
        %a{:href => "/"} 人気の検索キーワード
      %li
        %a{:href => "/"} 新着レシピ
      %li
        %a{:href => "/"} 新着つくれぽ
      %li
        %a{:href => "/"} ピックアップレシピ
      %li
        %a{:href => "/"} デイリーアクセス数ランキング
      %li
        %a{:href => "/"} 料理動画
      %li
        %a{:href => "/"} おすすめ特集 [広告]
      %li
        %a{:href => "/"} メーカーのこだわりレシピ [広告]
      %li
        %a{:href => "/"} cookpad TV [Facebook]
      %li
        %a{:href => "/"} 教えておすすめレシピ
  .middle-2
    %h4.title レシピを書く
    %ul
      %li
        %a{:href => "/"} レシピを書く
      %li
        %a{:href => "/"} レシピの書き方について
      %li
        %a{:href => "/"} 企業・団体キッチンの登録
    %h4.title 献立
    %ul
      %li
        %a{:href => "/"} みんなの献立
      %li
        %a{:href => "/"} プレミアム献立
  .middle-3
    %h4.title 料理教室
    %ul
      %li
        %a{:href => "/"} クックパッド料理教室
      %li
        %a{:href => "/"} 教室募集
  .middle-4
    %h4.title おすすめ
    %ul
      %li
        %a{:href => "/"} メールマガジン
      %li
        %a{:href => "/"} モバイルサービス
      %li
        %a{:href => "/"} 有名人・団体 公式キッチン
      %li
        %a{:href => "/"} クックパッドニュース
      %li
        %a{:href => "/"} クックパッドのレシピ本
      %li
        %a{:href => "/"} 料理の基本
      %li
        %a{:href => "/"} クックパッドブログ
    %h4.title プレミアムサービス
    %ul
      %li
        %a{:href => "/"} プレミアムサービス
      %li
        %a{:href => "/"} 会員限定クーポン＆プレゼント
      %li
        %a{:href => "/"} プレミアムクーポン
      %li
        %a{:href => "/"} プレミアムパス
  .middle-5
    %h4.title あなたのページ
    %ul
      %li
        %a{:href => "/"} ユーザー登録 (無料)
      %li
        %a{:href => "/"} ログイン
    %h4.title くらし・ライフイベント
    %ul
      %li
        %a{:href => "/"} 妊娠・育児・子育て
      %li
        %a{:href => "/"} 習い事・資格取得
