.config-dropdown-menu {
  display: none;
  position: absolute;
  top: 31px;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 100;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 93;
  background: $White;
  border: 1px solid $Brown;
  border-top: 1px solid $White;
  padding: 0 10px;
  ul {
    margin-top: 0;
    margin-bottom: 10px;
    li {
      display: block;
      padding-left: 0;
      margin: 0;
      a {
        color: $DarkBrown;
        display: block;
        padding: 10px 0 5px 20px;
        height: 16px;
        width: 70px;
        &:hover {
          text-decoration: underline;
        }
      }
      .user-edit__link {
        background: url("/images/user_edit_mono.png") no-repeat;
      }
      .logout__link {
        background: url("/images/logout_mono.png") no-repeat;
      }
    }
  }
}
