.global-header {
  z-index: 1001;
  background-color: $White;
  width: 100%;
  border-bottom: 1px solid $Brown;
  height: 34px;
  position: fixed;
  top: 0;
  left: 0;

  li {
    display: inline-block;
  }

  .service-menu {
    font-size: 93%;
    float: left;
    padding: 9px 0px;

    &__index {
      color: $Chestnut;
    }

    &__index:after {
      color: $WhiteGray;
      content: "|";
      padding-left: 6.5px;
    }

    &__link {
      color: $Chestnut;
      padding-left: 1.9px;
    }

    &__link:before {

    }
  }

  .global-menu {
    font-size: 93%;
    float: right;

    li {
      margin-top: 9px;
      padding-left: 12.7px;
      position: relative;
    }

    &__ps-link {
      color: $LightOrange;
      font-weight: bold;
    }
    &__new-register-link a {
      color: $DarkBrown;
    }
    &__login-link a {
      color: $DarkBrown;
    }
  }
}
