.register-container {
  width: 970px;
  background-color: $White;
  border: 1px solid $Brown;
  border-radius: 5px;
  .register-wrapper {
    #register_header {
      font-size: 19px;
      font-weight: bold;
      color: $RedBrown;
      .register-title-border {
        position: relative;
        padding: 10px 0 15px 20px;
        border-bottom: 1px solid $Brown;
      }
      #new_kitchen {
        .main {
          .field {
            label {}
            #kitchen_email {}
          }
          .field {
            label {}
            #kitchen_password {}
          }
          .field {
            label {}
            #kitchen_password_confirmation {}
          }
        }
        .submit {
          #kitchen_submit {}
        }
      }
    }
  }
}
